



*{
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;

}
:root{
    --Moderate-cyan: hsl(176, 50%, 47%)
    --Dark-cyan: hsl(176, 72%, 28%)
    --Black: hsl(0, 0%, 0%)
    --Dark-gray: hsl(0, 0%, 48%)
    $Font-size: 36px
    $Weights: 400, 500, 700

}






label.logo{
    font-family: 'Commissioner', sans-serif;
    font-size: 30px;
    font-weight:bold;
    color: white;
    margin-left: 1rem;
    line-height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    display: block;
    color: white;
    float: left;
    
}



.menu i{
    font-size: 40px;
    padding: 0rem 1rem;
    margin-top: -4.5rem;
    margin-left: 12rem;
    float: left;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}   

.nav li{
    display: none;
}

body{
    background-color:whitesmoke;
}

.navigation{
    background-image: url("image-hero-mobile.jpg");
    min-width: fit-content;
    margin: auto;
    height: 60%;
    display: block; 
}
    .master{
        text-align: center;
        align-items: center;
        align-self: center;
        margin: auto;
        margin-left: 40%;
        margin-top: -2rem;
    }
    .innerdiv{
        display: block;
        max-height: fit-content;
        width: 85%;
        align-self: center;
        margin: auto;
        position: absolute;
        margin-left: 6%;
        margin-top: 10rem;
        background-color: white;
        border-radius: 20px;
        padding-bottom: 2rem 2rem;
    }
    .innerdiv2{
        max-height: fit-content;
        width: 85%;
        align-self: center;
        margin: auto;
        position: absolute;
        margin-left: 6%;
        margin-top: 35rem;
        background-color: white;
        border-radius: 20px;   
        padding-bottom: 1rem;
    
    }



.innerdiv3{
    max-height: fit-content;
    width: 85%;
    align-self: center;
    margin: auto;
    position: absolute;
    margin-left: 6%;
    margin-top: 64rem;
    background-color: white;
    border-radius: 20px;   
    padding-bottom: 1rem;

}

.dolla{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.content{
    padding: 2rem 2rem;
}

.content p{
    color: hsl(0, 0%, 48%);
    line-height: 1.5rem;

}

h5{
    font-weight: 700;
    color: hsl(0, 0%, 0%);
}

.ddiv{
    display: grid;
    grid-template-rows: (3, 1fr);  
    gap: 1rem;
    padding-bottom: 2rem;
}
.ddiv1, .ddiv2, .ddiv3{
    max-height: fit-content;
    width: 75%;
    margin-left: 1rem;
    display: block;
    border: 2px solid hsl(0, 0%, 48%);
    background-color: white;
    border-radius: 20px;   
    padding: 1rem 1rem;
}

.ddiv3{
    background-color:  rgb(250, 249, 248);
}

.inc{
    display: block;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.inc1{
    font-weight: 700;
    padding-bottom: 1rem;
}
.inc2{
    color: aqua;
}
.incr1{
    font-weight: 700;  
    font-size: 35px;
}
.incr1 span{
    color: darkgrey;
    font-size: 16px;
    font-weight: 500;  
    margin-top: 9.5rem;
}
.incr2{
    cursor: pointer;
    background-color:hsl(176, 50%, 47%);
    padding: 1rem;
    max-width: fit-content;
    border-radius: 3rem;
    color: #fff;
}

.ddiv3 .incr2{
    background-color: hsl(0, 0%, 48%);
}

.semd{
    margin-top: -1.5rem;
    text-align: center;
}
.sent{
    line-height: 1.5rem;
    padding-bottom: 2rem;
    color: hsl(0, 0%, 48%)
}

.line1, .line2{
    align-self: center;
    margin: auto;
    width: 7rem;
    height: 1px;
    background-color: hsl(0, 0%, 48%);
}

.line3{
    margin-top: 7rem;
    margin: auto;
    align-self: center;
    width: 88%;
    height: 1rem;
    background-color:  hsl(0, 0%, 48%);
    border-radius: 1rem;
    margin-left: 1rem;
}

.line4{
    
    margin-top: 2rem;
    width: 65%;
    height: 1rem;
    background-color: hsl(176, 50%, 47%);;
    border-radius: 1rem;
}

.divn{
    padding-top: 3rem;
    margin: auto;
    padding-left: 0rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  
.logtxt{
    
    font-size: 25px;
    font-weight:700;
    text-align: center;
    font-family: 'Commissioner', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    
  }
.semtxt{
    text-align: center;
    padding: 0.5rem;
    font-size: 16px;
    color: hsl(0, 0%, 0%);
    font-family: 'Commissioner', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.container1 {
    display: grid;
    gap: 17rem;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.this{
    background-color:hsl(176, 50%, 47%);
    padding: 1rem;
    width: 7.5rem;
    margin: auto;
    margin-left: 1rem;
    border-radius: 3rem;
    color: #fff;
    display: block;
    cursor: pointer;
    font-family: 'Commissioner', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.bookmark{
    cursor: pointer;
    background-color: hsl(0, 0%, 48%);
    max-width: fit-content;
    border-radius: 5rem;
    margin-left: -10rem;
}
.book{
    padding: 1rem;
    display: none;
}
.bookicon{
    margin-left: -9rem;
}








@media screen and (min-width: 320px){
    label.logo{
        font-family: 'Commissioner', sans-serif;
        font-size: 30px;
        font-weight:bold;
        color: white;
        margin-left: 1rem;
        line-height: 80px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .menu{
        display: block;
        color: white;
        float: left;
        
    }
    
    .menu i{
        font-size: 40px;
        padding: 0rem 1rem;
        margin-top: -4.5rem;
        margin-left: 12rem;
        float: left;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }   
    
    nav li{
        display: none;
    }
    
    body{
        background-color:whitesmoke;
    }
    
    .navigation{
        background-image: url("image-hero-mobile.jpg");
        min-width: fit-content;
        margin: auto;
        height: 60%;
        display: block; 
    }
        .master{
            text-align: center;
            align-items: center;
            align-self: center;
            margin: auto;
            margin-left: 40%;
            margin-top: -2rem;
        }
        .innerdiv{
            display: block;
            max-height: fit-content;
            width: 85%;
            align-self: center;
            margin: auto;
            position: absolute;
            margin-left: 6%;
            margin-top: 10rem;
            background-color: white;
            border-radius: 20px;
            padding-bottom: 2rem 2rem;
        }
        .innerdiv2{
            max-height: fit-content;
            width: 85%;
            align-self: center;
            margin: auto;
            position: absolute;
            margin-left: 6%;
            margin-top: 35rem;
            background-color: white;
            border-radius: 20px;   
            padding-bottom: 1rem;
        
        }
    
    
    
    .innerdiv3{
        max-height: fit-content;
        width: 85%;
        align-self: center;
        margin: auto;
        position: absolute;
        margin-left: 6%;
        margin-top: 64rem;
        background-color: white;
        border-radius: 20px;   
        padding-bottom: 1rem;
    
    }
    
    .dolla{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    
    .content{
        padding: 2rem 2rem;
    }
    
    .content p{
        color: hsl(0, 0%, 48%);
        line-height: 1.5rem;
    
    }
    
    h5{
        font-weight: 700;
        color: hsl(0, 0%, 0%);
    }
    
    .ddiv{
        display: grid;
        grid-template-rows: (3, 1fr);  
        gap: 1rem;
        padding-bottom: 2rem;
    }
    .ddiv1, .ddiv2, .ddiv3{
        max-height: fit-content;
        width: 75%;
        margin-left: 1rem;
        display: block;
        border: 2px solid hsl(0, 0%, 48%);
        background-color: white;
        border-radius: 20px;   
        padding: 1rem 1rem;
    }
    
    .ddiv3{
        background-color:  rgb(250, 249, 248);
    }
    
    .inc{
        display: block;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
    .inc1{
        font-weight: 700;
        padding-bottom: 1rem;
    }
    .inc2{
        color: aqua;
    }
    .incr1{
        font-weight: 700;  
        font-size: 35px;
    }
    .incr1 span{
        color: darkgrey;
        font-size: 16px;
        font-weight: 500;  
        margin-top: 9.5rem;
    }
    .incr2{
        cursor: pointer;
        background-color:hsl(176, 50%, 47%);
        padding: 1rem;
        max-width: fit-content;
        border-radius: 3rem;
        color: #fff;
    }
    
    .ddiv3 .incr2{
        background-color: hsl(0, 0%, 48%);
    }
    
    .semd{
        margin-top: -1.5rem;
        text-align: center;
    }
    .sent{
        line-height: 1.5rem;
        padding-bottom: 2rem;
        color: hsl(0, 0%, 48%)
    }
    
    .line1, .line2{
        align-self: center;
        margin: auto;
        width: 7rem;
        height: 1px;
        background-color: hsl(0, 0%, 48%);
    }
    
    .line3{
        margin-top: 7rem;
        margin: auto;
        align-self: center;
        width: 88%;
        height: 1rem;
        background-color:  hsl(0, 0%, 48%);
        border-radius: 1rem;
        margin-left: 1rem;
    }
    
    .line4{
        
        margin-top: 2rem;
        width: 65%;
        height: 1rem;
        background-color: hsl(176, 50%, 47%);;
        border-radius: 1rem;
    }
    
    .divn{
        padding-top: 3rem;
        margin: auto;
        padding-left: 0rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
      
    .logtxt{
        
        font-size: 25px;
        font-weight:700;
        text-align: center;
        font-family: 'Commissioner', sans-serif;
        font-family: 'Titillium Web', sans-serif;
        
      }
    .semtxt{
        text-align: center;
        padding: 0.5rem;
        font-size: 16px;
        color: hsl(0, 0%, 0%);
        font-family: 'Commissioner', sans-serif;
        font-family: 'Titillium Web', sans-serif;
    }
    
    .container1 {
        display: grid;
        gap: 17rem;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3rem;
        padding-bottom: 1rem;
    }
    
    .this{
        background-color:hsl(176, 50%, 47%);
        padding: 1rem;
        width: 7.5rem;
        margin: auto;
        margin-left: 1rem;
        border-radius: 3rem;
        color: #fff;
        display: block;
        cursor: pointer;
        font-family: 'Commissioner', sans-serif;
        font-family: 'Titillium Web', sans-serif;
    }
    
    .bookmark{
        cursor: pointer;
        background-color: hsl(0, 0%, 48%);
        max-width: fit-content;
        border-radius: 5rem;
        margin-left: -10rem;
    }
    .book{
        padding: 1rem;
        display: none;
    }
    .bookicon{
        margin-left: -9rem;
    }
}

 @media screen and (min-width: 375px){
  
    .bookmark{
        cursor: pointer;
        background-color: hsl(0, 0%, 48%);
        max-width: fit-content;
        border-radius: 5rem;
        margin-left: -7rem;
    }

    .ddiv1, .ddiv2, .ddiv3{
        margin-left: 1.3rem;
     }
    .innerdiv{
        margin-top: 15rem;
    }
    .innerdiv3{
        margin-top: 62.8rem;
    }
 }
 @media screen and (min-width: 414px){
    .bookmark{
        cursor: pointer;
        background-color: hsl(0, 0%, 48%);
        max-width: fit-content;
        border-radius: 5rem;
        margin-left: -5rem;
    }
    .innerdiv{
        margin-top: 15rem;
    }
 }
 
 @media screen and (min-width: 600px){
    .bookmark{
        cursor: pointer;
        background-color: hsl(0, 0%, 48%);
        max-width: fit-content;
        border-radius: 5rem;
        margin-left: 5rem;
    }
    .innerdiv{
        margin-top: 15rem;
    }
 }
 
 @media screen and (min-width: 1024px){


    nav li{

    display:inline-block;
    margin: 0 8px;
    line-height: 18px;
    margin-top: 10px;
    color: #fff;
}
a{
color: white;
font-size: 16px;
border: 1px solid transparent;
padding: 7px 10px;
border-radius: 3px;
text-decoration: none;

}

nav ul{
    float: right;
    margin-right: 40px;

}
.menu{
    display: none;
}
label.logo{
    margin-left: -3rem;
    font-size: 26px;
    font-weight:bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



    
    .navigation{
        background-image: url("image-hero-desktop.jpg");
        min-width: fit-content;
        margin: auto;
        height: 29%;
        display: block; 
    }

    .innerdiv{
        margin-left: 12rem;
        width: 60%;
    }
    .this{
    background-color:hsl(176, 50%, 47%);
    padding: 1rem;
    max-width: fit-content;
    margin: auto;
    border-radius: 3rem;
    color: #fff;
    display: block;

}

.bookmark{
    display: flex;
    background-color: hsl(0, 0%, 48%);
    width:10rem ;
    border-radius: 5rem;
    margin-left: 2rem;
}
.book{
    padding: 1rem;
    display: block;
}

.bookicon{
    margin-left: 0;
}

.container1 {
    display: grid;
    gap: 10rem;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
}

   .innerdiv2{
    margin-left: 12rem;
    width: 60%;
      margin-top: 32.5rem;
   }
    .line1, .line2{
    align-self: center;
    margin: auto;
    height: 7rem;
    width: 1px;
    background-color: hsl(0, 0%, 48%);
}

.line3{
    margin-top: 7rem;
    margin: auto;
    align-self: center;
    width: 90%;
    height: 1rem;
    background-color:  hsl(0, 0%, 48%);
    border-radius: 1rem;
    margin-left: 2.5rem;
}
.line4{
    
    margin-top: 2rem;
    width: 65%;
    height: 1rem;
    background-color: hsl(176, 50%, 47%);;
    border-radius: 1rem;
}

.divn{
    padding-top: 2rem;
    margin-right: 3rem;
    margin: auto;
    padding-left: 3rem;
    display: grid;
    grid-area: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
}

 .innerdiv3{
    margin-left: 12rem;
    width: 60%;
    margin-top: 47.7rem;
 }
 
.inc{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.inc1{
    font-weight: 700;
}
.inc2{
    color: aqua;
}
.incr1{
    font-weight: 700;  
    font-size: 35px;
}
.incr1 span{
    color: darkgrey;
    font-size: 16px;
    font-weight: 500;  
    margin-top: 9.5rem;
}
.incr2{
    background-color:hsl(176, 50%, 47%);
    padding: 1rem;
    max-width: fit-content;
    border-radius: 3rem;
    color: #fff;
}

.ddiv1, .ddiv2, .ddiv3{
   margin-left: 3.5rem;
}
   }

 

 
 
@media screen and (min-width: 1366px){



    nav li{
                display:inline-block;
                margin: 0 8px;
                line-height: 18px;
                margin-top: 10px;
                color: #fff;
           }
           a{
            color: white;
            font-size: 16px;
            border: 1px solid transparent;
            padding: 7px 10px;
            border-radius: 3px;
            text-decoration: none;
        
        }
        
         nav ul{
                float: right;
                margin-right: 40px;
            
            }
            .menu{
                display: none;
            }
            label.logo{
                margin-left: -3rem;
                font-size: 26px;
                font-weight:bold;
                color: white;
                padding: 0 100px;
                line-height: 80px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        
.navigation{
    height: 39%  
}
.ddiv1, .ddiv2, .ddiv3{
    margin-left: 4.5rem;
 }
}


@media screen and (min-width:  1080px){
    
 nav ul{
        float: right;
        margin-right: 40px;
    
    }
    .menu{
        display: none;
    }
    label.logo{
        margin-left: -3rem;
        font-size: 26px;
        font-weight:bold;
        color: white;
        padding: 0 100px;
        line-height: 80px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .navigation{
        height: 20% ;
        width: 100%;
    }
    .innerdiv{
        margin-top: 12rem;
        width: 55%;
        margin-left: 15rem;
    }

    .innerdiv2{
        margin-top: 30rem;
        width: 55%;
        margin-left: 15rem;
    }

    .innerdiv3{
        margin-top: 45rem;
        width: 55%;
        margin-left: 15rem;
    }
    .ddiv1, .ddiv2, .ddiv3{
        margin-left: 3.5rem;
     }
    }

    

@media screen and (min-width:  1366px){
    .navigation{
        background-image: url("image-hero-desktop.jpg");
        height: 65% ;
        width: 100%;
    }
    .innerdiv{
        margin-top: 12rem;
        width: 45%;
        margin-left: 22rem;
    }

    .innerdiv2{
        margin-top: 30rem;
        width: 45%;
        margin-left: 22rem;
    }
   

    .innerdiv3{
        margin-top: 45rem;
        width: 45%;
        margin-left: 22rem;
    }
    .ddiv1, .ddiv2, .ddiv3{
        margin-left: 3.5rem;
     }
    }


@media screen and (min-width:  1920px){
    .navigation{
        height: 35% ;
        width: 86%;
    }
    .innerdiv{
        margin-top: 12rem;
        width: 40%;
        margin-left: 22rem;
    }

    .innerdiv2{
        margin-top: 30rem;
        width: 40%;
        margin-left: 22rem;
    }

    .innerdiv3{
        margin-top: 45rem;
        width: 40%;
        margin-left: 22rem;
    }
    .ddiv1, .ddiv2, .ddiv3{
        margin-left: 4.5rem;
     }
    }
